<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:44:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport.LOGIN_TC_001()[pri:1, instance:com.safaricom.report.SafaricomReport@2f666ebb]">LOGIN_TC_001</td> 
  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:45:17</td>   <td>53928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport.MENU_TC_017()[pri:104, instance:com.safaricom.report.SafaricomReport@2f666ebb]">MENU_TC_017</td> 
  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:46:24</td>   <td>120890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport.MENU_TC_019()[pri:106, instance:com.safaricom.report.SafaricomReport@2f666ebb]">MENU_TC_019</td> 
  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:45:14</td>   <td>50754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SafaricomReport.SFC_TC_001()[pri:2, instance:com.safaricom.report.SafaricomReport@2f666ebb]">SFC_TC_001</td> 
  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:44:23</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport.beforeClass()[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:44:23</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:45:14</td>   <td>50754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:45:17</td>   <td>53928</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:46:24</td>   <td>120890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SafaricomReport.beforeMethod(java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:44:23</td>   <td>-198</td> <td title="&gt;&gt;SafaricomReport.beforeSuite()[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:46:59</td>   <td>156244</td> <td title="&lt;&lt;SafaricomReport.endReport()[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:45:14</td>   <td>50751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:45:17</td>   <td>53927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:46:24</td>   <td>120889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>19/06/06 17:46:59</td>   <td>156226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SafaricomReport.getResult(org.testng.ITestResult, java.lang.reflect.Method)[pri:0, instance:com.safaricom.report.SafaricomReport@2f666ebb]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1319483139</td>   <td></td> </tr>
</table>
